@media (max-width: 1023px) {
  .header__description {
    justify-content: space-between;
    width: 92.3%;
    margin-top: 45px;
    padding: 0;
  }

  .nav {
    display: none;
  }

  .header__burger-button {
    display: block;
    border: none;
  }

  .burger-menu {
    display: none;
    position: absolute;
    top: 0;
    right: -170px;
    height: 250px;
    width: 160px;
    margin: 5px;
    transition: all 0.3s ease-in;
    border-radius: 10px;
    background: #f2785c;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    z-index: 3;
  }

  .burger-menu_opened {
    display: block;
  }

  .burger-menu_closed {
    display: none;
  }

  .burger-menu_right0 {
    right: 0;
  }

  .burger-menu_right170 {
    right: -170px;
  }

  .burger-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 176px;
    margin: 44px 12px 30px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  .burger-menu__item {
    text-align: end;
  }

  .burger-menu__cancel {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15.5px;
  }

  .header__button {
    display: none;
  }

  .trip-search__button {
    font-size: 20px;
  }

  .header-container {
    background: none;
    box-shadow: none;
  }

  .slider__item {
    height: 560px;
  }
  .slider__title {
    margin: 480px 0 0 1.9%;
  }

  .travel-stories__text {
    display: -webkit-box;
    display: box;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 8;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  .footer-description {
    justify-content: center;
    margin: 16.4px auto 0;
    padding-bottom: 17.8px;
  }

  .footer-text {
    display: none;
  }

  .footer-logo-container {
    width: 135px;
    margin: 0 0 0 8px;
  }
}

@media (max-width: 600px) {
  .header {
    background: url(../assets/img/upper-background-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 251px;
  }
  .header__background {
    background: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%);
  }

  .header-container {
    align-items: start;
  }

  .header__img {
    margin-bottom: 0;
  }

  .header__logo-name {
    display: none;
  }
  .header__button {
    display: none;
  }

  .header__trip-search {
    width: 92.3%;
    height: 48px;
    margin: 0;
    padding-bottom: 61px;
  }

  .trip-search__title {
    display: none;
  }

  .trip-search__description {
    display: none;
  }

  .trip-search__form {
    width: 100%;
    height: 48px;
    margin: 52px 3.8% 61px 3.8%;
    padding: 9px;
  }

  .form__text {
    margin-left: 7.5px;
    font-size: 14px;
    line-height: 17px;
  }

  .form__text::placeholder {
    font-size: 13.3px;
    line-height: 17px;
  }

  .button {
    width: 92px;
    height: 30px;
    font-size: 10.8px;
    line-height: 15px;
  }

  .three-steps {
    padding: 20px 0;
  }

  .title {
    font-size: 14px;
    line-height: 19px;
  }

  .three-steps__list {
    margin: 0 3.85%;
  }

  .three-steps__item {
    align-items: center;
  }

  .item_bike {
    align-items: start;
    width: 94px;
    margin-left: 0;
  }

  .item_dates {
    width: 111px;
    margin-left: 4px;
  }

  .item_plane {
    align-items: end;
    width: 98px;
    margin-right: 0;
  }

  .three-steps__image-wrapper {
    width: 70px;
    height: 70px;
    margin: 20px 0;
  }

  .three-steps__image_bike {
    width: 35px;
    height: 31.5px;
  }

  .three-steps__image_schedule {
    width: 35px;
    height: 35px;
  }

  .three-steps__image_plane {
    width: 40px;
    height: 30px;
  }

  .three-steps__description {
    text-align: start;
    font-size: 10px;
    line-height: 12px;
  }

  .description__plane {
    text-align: end;
  }

  .destinations {
    margin-bottom: 20px;
  }

  .destinations__title {
    margin-bottom: 20px;
  }

  .laptop-slider {
    display: none;
  }

  .slider__arrow {
    display: none;
  }

  .laptop-dots {
    display: none;
  }

  .laptop-dots {
    display: none;
  }

  .mobile-slider {
    display: block;
  }

  .trip-search__button {
    font-size: 20px;
  }

  .bottom-background {
    background-image: url(../assets/img/bottom-background-mobile.png);
  }

  .travel-stories__title {
    margin-bottom: 10px;
  }

  .travel-stories__background {
    padding: 12px 3.8%;
  }

  .travel-stories__item {
    margin-bottom: 15px;
  }

  .travel-stories__img {
    width: 43.5%;
    height: 130px;
  }

  .travel-stories__description {
    margin-top: 3px;
    margin-left: 10px;
  }

  .travel-stories__head {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
  }

  .travel-stories__text {
    font-size: 9px;
    line-height: 11px;
  }

  .travel-stories__description a {
    display: block;
    font-size: 9px;
  }

  .travel-stories__button {
    margin: -5px auto 3px;
  }
}
