* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.header__background {
  background: url(../assets/img/upper-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__description {
  display: flex;
  justify-content: space-between;
  width: 83.3%;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.header__logo {
  width: 216px;
  height: 31px;
  margin-bottom: 9px;
}

.nav {
  margin: 10px 3.2% 0 0;
  color: rgba(255, 255, 255, 1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 525px;
}

.item {
  list-style-type: none;
}

.header__button {
  width: 103px;
  height: 41px;
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: rgba(13, 96, 111, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  color: #ffffff;
}

.header__burger-menu {
  background: inherit;
  border: none;
  display: none;
}

.header__trip-search {
  max-width: 892px;
  margin: 32px 1% 0 8.5%;
  padding-bottom: 254px;
}

.trip-search__title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

.trip-search__description {
  margin-top: 33px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.trip-search__form {
  display: flex;
  justify-content: space-between;
  height: 95px;
  margin-top: 46px;
  padding: 18px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
}

.form__text {
  margin-left: 23px;
  outline: none;
  border: none;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
  background: rgba(255, 255, 255, 0);
}

.form__text::placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 22.5px;
  line-height: 29px;
  color: #f2785c;
}

.button {
  width: 228px;
  height: 59px;
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.three-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 97px;
}

.title {
  text-align: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
}

.three-steps__list {
  display: flex;
  justify-content: space-between;
}

.three-steps__item {
  display: flex;
  flex-direction: column;
}

.item_bike {
  width: 17.1%;
  margin-left: 9.5%;
}

.item_dates {
  width: 15.5%;
  margin-left: 5%;
}
.item_plane {
  width: 22%;
  margin-right: 9%;
}

.three-steps__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 40px auto 30px;
  border-radius: 16px;
  background: #f2785c;
}

.three-steps__image_bike {
  width: 50px;
  height: 45px;
}

.three-steps__image_schedule {
  width: 52px;
  height: 52px;
}

.three-steps__image_plane {
  width: 60px;
  height: 45px;
}

.three-steps__description {
  text-align: center;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  overflow: hidden;
}

.destinations__title {
  margin-bottom: 46px;
}

.destinations__slider {
  display: flex;
  justify-content: space-between;
  width: 175%;
}

.slider__item {
  width: 31.7%;
  height: 800px;
  border-radius: 16px;
}

.slider__item_spain {
  background-image: url(../assets/img/spain.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider__item_japan {
  background-image: url(../assets/img/japan.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider__item_usa {
  background-image: url(../assets/img/USA.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider__title {
  font-family: 'Red Hat Text';
  margin: 718px 0 0 1.9%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin: 24px 0 40px;
}

.dots__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}

.dots__item_active {
  background: #f2785c;
}

.button__arrow {
  width: 35px;
  height: 22.5px;
  margin-right: 12.5px;
}

.bottom-background {
  background-image: url(../assets/img/bottom-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.travel-stories__title {
  margin-bottom: 40px;
}
.travel-stories__background {
  padding: 40px 8.7% 40px 8.3%;
  background: rgba(255, 255, 255, 0.7);
}

.travel-stories__list {
  font-family: 'Aleo';
  font-weight: 400;
  color: #0d606f;
}

.travel-stories__item {
  display: flex;
  margin-bottom: 30px;
}

.travel-stories__img {
  width: 33%;
  height: 250px;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0d606f);
}

.travel-stories__description a {
  text-decoration: underline;
  font-weight: bold;
  color: #0d606f;
}

.travel-stories__description {
  margin-left: 45px;
}

.travel-stories__head {
  margin-bottom: 24px;
  font-size: 34px;
  line-height: 42px;
  font-weight: 400;
  font-weight: bold;
}

.travel-stories__text {
  font-size: 20px;
  line-height: 24px;
}

.travel-stories__button {
  display: block;
  margin: 37px auto 0;
}

.footer-description {
  display: flex;
  justify-content: space-between;
  margin: 15px 8.5% 0 41%;
  padding-bottom: 19px;
}

.footer-text {
  align-self: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.footer-logo-container {
  width: 19%;
  display: flex;
  justify-content: space-between;
}
